:root {
  color-scheme: light only;
  --bgr-blue: #253878;
  --letter-gray: #7a7a7a;
  --bgr-gray: #03070f;
  --blckBgr: rgba(3, 7, 15, 0.99);
  --blgray: #d3dde6;
  --lightblue: #44b0de;
  --goldenNew: #f7d16e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-marquee-increment: 0vw
}

html {
  background-color: var(--blckBgr);  
}

body,
::after,
::before {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Federo", sans-serif;  
  color: var(--blgray);
  font-size: 15px;
}

.hero {
  width: 100%;
  position: relative;
  height: auto;
}

.navbar {
  display: flex;
  place-content: center space-between;
  background-color: var(--blckBgr);
  align-items: center;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-container-1 {
  display: flex;
  align-items: center;
  margin: 0 0.5em;
  flex: 2;
  font-size: 0.9em;
  gap: 1.3em;
}

.nav-container-2 {
  flex: 2;
  gap: 0.6em;
  justify-content: space-evenly;
}

.nav-container-2 a {
  font-size: 1em;
}

.nav-container-2 a:hover {
  border-bottom: 1px solid var(--lightblue);
}

/* responsive navbar toggle */

.navbar_toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 15%;
  height: 1.4em;
}

.navbar_toggle span.arrow-down {
  width: 100%;
  font-size: 5vw;
  padding: 0.2em 0;
  text-align: center;
  background-color: var(--blckBgr);
  color: var(--lightblue);
  border-radius: 3em;
}

/* header logo */

.header-logo {
  width: 11em;
  margin: 0.5em;
}

.header-logo-name {
  width: 14em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--lightblue);
}

.slideShow {
  width: 100%;
  position: relative;
  margin-top: 19vh;
  /* height: 100vh; */
}

.slide img {
  width: 100%;
  height: auto;
}

.slide {
  display: none;
}

/* arrows */

.arrow-prev,
.arrow-next,
.img-txt {
  color: var(--blgray);
  font-size: 3em;
  font-weight: lighter;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 0 0.2em;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.arrow-prev {
  left: 0;
}

.arrow-next {
  right: 0;
}

h4.img-txt {
  width: 65%;
  top: 37%;
  left: 17%;
  padding: 0.5em;
  color: var(--blgray);
  cursor: none;
  text-align: center;
  font-size: 3.1vw;
  text-shadow: 2px 2px 2px var(--bgr-gray);
}

.text-bgr {
  position: absolute;
  background-color: var(--bgr-blue);
  width: 100%;
  height: 99.5%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

/* arrows */

/* welcome */
.welcome-section,
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bgr-gray);
  opacity: 0.9;
}

.welcome-section h2,
.welcome-section p {
  width: 65%;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  font-weight: lighter;
  border-bottom: 1px solid var(--lightblue);
  
}

.welcome-section h2 {
  padding-bottom: 1em;
}

.blue-text {
  color: var(--lightblue);
}

.about-container {
  background: var(--bgr-gray);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.about-img-container h1 {
  font-size: 1.5em;
  text-align: center;
  color: var(--blgray);
  font-weight: lighter;
  padding: 0.1em;
  border-radius: 0.3em;
  opacity: 0.8;
  margin-top: 2em;
}

.description-container {
  background: url("./img/black.png") no-repeat center center fixed;
  background-size: cover;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
  justify-content: space-evenly;
  /* width: 85%; */
  margin: .5em auto;
  padding: 1em;
  border-radius: 0.5em;
}

.container-item {  
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.container-item p,
.container-item h2 {
  color: var(--blgray);
  text-shadow: 2px 2px 2px var(--bgr-gray);
  font-size: 1.2em;
  padding: 0.1em;
  margin: 0.1em auto;
  text-align: center;
  border-radius: 0.2em;
}

.item-1 {
  grid-column-start: 1;
}

.item-2 {
  grid-column-start: 3;
}

.item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item-4 {
  grid-column-start: 1;
}

.item-5 {
  grid-column-start: 3;
}

.support-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
  margin: 1em auto;
  background-color: var(--bgr-gray);
  opacity: 0.9;
}

.support-container h2,
.support-container p {
  width: 85%;
  margin: 0 auto;
  font-size: 1.5em;
  padding: .3em;
  text-align: center;
  font-weight: lighter;
}

.support-container h2, .about-img-container h1 {
  letter-spacing: .2em;
}

.support-container b, .about-img-container b, .welcome-section b {  
  color: var(--goldenNew);  
}

.img-prefooter {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

.img-prefooter img {
  width: 35%;
  margin: 0 auto;
}

.footer-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  gap: 2em;
}

.footer-span a {
  text-decoration: none;
  color: var(--blgray);
}

.footer-span span {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--blgray);
}

.footer-span a svg {
  font-size: 1.5em;
}

/* MODAL ONE CONTAINER ONE */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: #000;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: url('./img/monkeywork.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content {
  margin: 7% auto;
  padding: 0.3em;
  border-radius: 0.5em;
  width: 80%;
  background-color: var(--bgr-gray);
  opacity: 0.9;
}

.modal-content h1 {
  font-size: 1.5em;
  color: var(--bgr-gray);
  padding: 0.3em;
  margin: 0 auto;
  border-radius: 0.1em;
  text-align: center;
}

.modal-header-1 {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue);
  padding: 0 1em;
  border-radius: 0.2em;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: .5em auto;
  padding: 1em 0 1em;
  border-bottom: 1px solid var(--lightblue);
}

.modal-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: .3em 0 0 .3em;
}

.modal-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  width: 55%;
  margin: 1em 0;
}

.logoGold {
  width: 19vw;
  padding: 1.5em;
  align-self: center;
  margin: .5em;
}

.modal-container p,
.modal-container h2,
.modal-container h3 {
  color: var(--blgray);
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0.3em;
  padding: .1em 0;
}

.modal-container h3 {
  font-size: 1em;
  margin-bottom: 0;
  border-bottom: 1px solid var(--lightblue);
}

.modal-container h2 {
  font-size: 1.5em;
  border-bottom: 1px solid var(--lightblue);
}

.modal-content-left p {
  padding: 0.3em;
  font-size: 1.1em;
}

.close {
  color: var(--bgr-gray);
  font-size: 3em;
}

.close:hover,
.close:focus {
  color: var(--blgray);
  text-decoration: none;
  cursor: pointer;
}

.modal-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1em auto;
  width: 85%;
  background-color: var(--bgr-gray);
}

.modal-section-one,
.modal-section-two {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: .3em;
  padding: .5em;
}

.modal-section img {
  width: 14em;
  align-self: center;
  border-radius: 0.3em;
}

.modal-section-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.modal-section-words h3 {
  border-bottom: 1px solid var(--lightblue);
}

.modal-section-words p,
.modal-section-words h3,
.modal-section-words h4 {
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

.modal-section-words p {
  font-size: 1.1em;
  margin: .3em;
}

.modal-section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11em;
}

.modal-section-three img {
  /* width: 40%; */
  align-self: center;
  border-radius: 0.3em;
  margin: 1em;
}

.modal-aside-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
  border-left: 1px solid var(--lightblue);
  padding: 0.5em;
  height: 100vh;
}

.modal-aside-1 a {
  text-decoration: none;
  padding: 0.3em;
}

.centerLogo {
  width: 100%;
}

.centerLogo img {
  display: block;
  margin: 0 auto;
}

/* MODAL ONE CONTAINER */

/* MODAL TWO CONTAINER */

.modalTwo {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: #000;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: url('./img/tormenta.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--bgr-gray);
  margin: 7% auto;
  padding: 0.3em;
  border-radius: 0.5em;
  width: 80%;
  color: var(--blgray);
  opacity: 0.9;
}

.modal-2-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue);
  padding: 0 1em;
  border-radius: 0.2em;
}

.close-2 {
  color: var(--bgr-gray);
  font-size: 3em;
}

.close-2:hover,
.close-2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-2 h1 {
  font-size: 1.5em;
  color: var(--bgr-gray);
  padding: 0.3em;
  margin: 0 auto;
  border-radius: 0.1em;
  text-align: center;
}

.main-modal {
  display: flex;
  align-items: center;
  margin: .5em 0;
}

.modal-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55%;
  padding: 0.5em 0;
  align-items: center;
}

.modal-content-left img {
  width: 55%;
  border-radius: 0.8em;
  padding: .5em;
}

.modal-content-left h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  margin: .5em;
  width: 60%;
}

.modal-content-right {
  width: 50%;
  padding: .5em 0;
}

.form-style form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.modal-content-right h2 {
  font-size: 1.3em;
  text-align: center;
}

.form-style input,
textarea {
  background-color: var(--bgr-gray);
  color: var(--blgray);
  padding: 0.5em;
  width: 100%;
  outline: none;
  border-radius: 0.5em;
  margin: 0.2em 0;
  align-self: flex-start;
  font-size: .9em;
  border: none;
  border-bottom: 1px solid var(--lightblue);
}

.form-style textarea {
  border: 1px solid var(--lightblue);
  margin-top: .5em;
}

.form-style input[type="submit"] {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--lightblue);
}

.form-style label {
  padding: 0;
  margin: .5em;
  font-size: 1.2em;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Federo", sans-serif;
  color: var(--blgray);
  font-size: 1.1em;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--blgray);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--blgray);
}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

.img-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 85%;
  margin: 1.5em auto;
  gap: 1em;
}

.img-section img {
  width: 25%;
  border-radius: 0.5em;
}

.img-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* width: 50%; */
  margin: 0.5em auto;
}

.img-section-1 h2 {
  font-size: 1.1em;
  padding: 0.5em;
  color: var(--blgray);
}

.footer-modal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-modal img {
  width: 11em;
  height: 21vh;
  margin: 0.5em auto;
  border: 3px solid #000;
  border-radius: 0.5em;
}

/* MODAL TWO CONTAINER */

/* MODAL THREE CONTAINER */

.modalThree {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: #000;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: url('./img/repararauto.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modalThree h1 {
  font-size: 1.5em;
  color: var(--bgr-gray);
  padding: 0.3em;
  margin: 0 auto;
  border-radius: 0.1em;
  text-align: center;
}

.footer-lightblue {
  width: 100%;
  height: 6vh;
  background-color: var(--lightblue);
  margin: 0;
  border-radius: 0.2em;
}

.modal-header-3 {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue);
  padding: 0 1em;
  border-radius: 0.2em;
}

.close-3 {
  color: var(--bgr-gray);
  font-size: 3em;
}

.close-3:hover,
.close-3:focus {
  color: var(--blgray);
  text-decoration: none;
  cursor: pointer;
}

.main-modal-3 {
  margin: 7% auto;
  width: 85%;
  background-color: var(--bgr-gray);
  opacity: 0.9;
  border-radius: 0.5em;
  padding: 0.3em;
}

.main-modal-3 p {
  text-align: center;
  font-size: 1.2em;
  padding: .3em 0;
  margin-bottom: .5em;
  border-bottom: 1px solid var(--lightblue);
}

.section-container {
  display: flex;
  padding: 0.2em;
  justify-content: center;
}

.siniestro-container ul {
  padding: 0.5em;
}

.siniestro-container ul li {
  list-style-image: url("./img/favicon.ico");
  list-style-position: inside;
  padding: .5em;
  font-size: 1.2em;
  margin: .3em;
  border-bottom: 1px solid var(--lightblue);
}

.siniestro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.form-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1em auto;
  border-radius: 0.5em;
}

.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 1em;
}

.aside-container img {
  width: 100%;
  padding: 1em;
  border-radius: 1.3em;
  
}

/* MODAL THREE CONTAINER */

/* MODAL CONTAINER FOUR */

.modal-container-4 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: #000;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: url('./img/tren.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content-4 {
  display: flex;
  flex-direction: column;
  margin: 7% auto;
  padding: 0.3em;
  border-radius: 0.5em;
  width: 85%;
  background-color: var(--bgr-gray);
  opacity: 0.9;
}

.modal-4-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue);
  padding: 0 1em;
  border-radius: 0.2em;
}

.modal-content-4 h1 {
  font-size: 1.5em;
  color: var(--bgr-gray);
  padding: 0.3em;
  margin: 0 auto;
  border-radius: 0.1em;
  text-align: center;
}

.close-4 {
  color: var(--bgr-gray);
  font-size: 3em;
}

.close-4:hover,
.close-4:focus {
  color: var(--blgray);
  text-decoration: none;
  cursor: pointer;
}

.modal-display-4 {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.modal-display-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  border-radius: 0.5em;
  width: 60%;
}


.map-button,
.call-button {
  background-color: var(--bgr-gray);
  color: var(--blgray);
  padding: 0.7em 0.3em;
  margin: 1em auto;
  width: 9em;
  border-radius: 0.4em;
  border: 1px solid var(--lightblue);
  cursor: pointer;
}

.map-button a,
.call-button a {
  color: var(--blgray);
  text-decoration: none;
}

.modal-display-left iframe {
  border-radius: 0.4em;
  width: 80%;
  height: 50vh;
  padding: 0.6em;
  border-radius: 0.9em;
}

.modal-display-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.modal-display-right h2 {
  background-color: var(--lightblue);
  color: var(--bgr-gray);
  font-size: 1.5em;
  align-self: center;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

.email {
  text-decoration: none;
  color: var(--lightblue);
}

.modal-display-right h3 {
  font-size: 1.1em;
  text-align: center;
  font-weight: lighter;
}

.citas {
  border-bottom: 1px solid var(--lightblue); 
  border-top: 1px solid var(--lightblue); 
  padding: 1em 0;
  color: var(--goldenNew);
}

.ubicacion {
  margin: 0.3em;
  border-bottom: 1px solid var(--lightblue);
}

@media screen and (max-width: 850px) {
  .hero {
    height: auto;
  }

  /* responsive navbar */
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-container {
    justify-content: space-evenly;
    gap: 2em;
  }

  .nav-container-1 {
    justify-content: space-around;
    gap: 3em;
    width: 100%;
  }

  .nav-container-2 {
    display: none;
    width: 100%;
  }

  .navbar_toggle {
    display: flex;
  }

  .nav-container-2.active {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 1em;
    padding: 0;
  }

  .nav-container-2.active a {
    width: 50%;
    text-align: center;
    padding: 1.3em;
    border-bottom: 1px solid #071022;
  }

  .nav-container-2.active a:hover {
    opacity: 0.6;
    color: var(--lightblue);
  }

  .header-logo {
    width: 23vw;
    margin-top: 0.5em;
  }

  .header-logo-name {
    width: 25vw;
  }

  .img-prefooter img {
    width: 100%;
    margin: 0 auto;
  }

  .about-img-container h1 {
    font-size: 1em;
  }

  /* slideshow content */
  .arrow-prev,
  .arrow-next {
    font-size: 2em;
  }

  h4.img-txt {
    /* font-size: 6vmin; */
    /* top: 30%; */
    left: 21%;
  }

  .slideShow {
    margin-top: 24%;
  }

  .footer-span {
    gap: 1em;
  }
  .footer-span span {
    font-size: .8em;
  }

  .welcome-section p,
  .welcome-section h2,
  .support-container h2,
  .support-container p {
    width: 95%;
    font-size: 1em;
  }

  .container-item p, .container-item h2 {
    font-size: .7em;
  }
  /* MODAL ONE */

  .modal-container {
    width: 100%;
    right: 0;
  }

  .modal-content {
    width: 95%;
  }

  .main-container {
    width: 95%;
    right: 0;
    flex-direction: column;
    align-items: center;
  }

  .modal-container-left,
  .modal-container-right {
    width: 95%;
    border-radius: 1em;
    align-items: center;
  }
  .modal-aside-1 {
    width: 100%;
    border-left: none;
  }

  .logoGold {
    width: 34vw;
    padding: 1em;
  }
  .modal-section {
    width: 95%;
    margin: 0.3em auto;
  }

  .modal-section-one {
    flex-direction: column-reverse;
    align-items: center;
  }

  .modal-section-two {
    flex-direction: column;
    align-items: center;
  }

  .modal-section-words {
    width: 100%;
    padding: 1em;
  }

  /* MODAL ONE */

  /* MODAL TWO CONTAINER */
  .main-modal {
    flex-direction: column;
    align-items: center;
  }

  .modal-content-2 {
    width: 95%;
  }

  .modal-content-left,
  .modal-content-right {
    width: 100%;
  }

  .modal-content-left {
    border: none;
    padding: 1.5em;
  }

  .modal-content-left h2 {
    margin: 1em 0;
    font-size: 1.2em;
    width: 100%;
  }

  .img-section {
    width: 100%;
  }

  .img-section img {
    width: 35vw;
  }
  /* MODAL TWO CONTAINER */

  /* MODAL THREE CONTAINER */

  .main-modal-3 {
    width: 95%;
  }

  .modal-section-three {
    flex-direction: column;
    gap: 1em;
  }

  .modal-section-three img {
    width: 35vw;
  }

  .modal-container p,
  .modal-container h2,
  .modal-container h3 {
    text-align: center;
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }

  .siniestro-container,
  .aside-container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  /* MODAL CONTAINER FOUR */
  .modal-content-4 {
    width: 95%;
  }

  .modal-display-4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  .modal-display-left,
  .modal-display-right {
    width: 100%;
    padding: 0;
  }

  .modal-display-right h3 {
    padding: 1em;
  }

  /* MODAL CONTAINER FOUR */
}
